*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
body {

}

.header{
  display: flex;
  align-items:center;
  justify-content: center; 
  background-color: #F55A5A;
  height: 7vh;
}

.header h1{
  margin: 10px;
  color: white;
  font-weight: 500;
}

.card-container{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.card_info{
  width: 900px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
}

.image-container img{
  width: 200px;
}

.locimg{
  width: 11px;
  margin-right: 4px;
}

.location{
  display: flex;
  align-items: center;
  margin: 0 20px 2px 0px;
}

.description{
  margin-top: 20px;
  width: 500px
}

.date{
  font-weight: bold;
}

.gmaps{
  margin-left: 10px;
  text-decoration: underline;
}
